<table>
  <tr>
    <td>Username: </td>
    <td><%= @player.screen_name %></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><%= @player.email %></td>
  </tr>
  <tr>
    <td>Wins: </td>
    <td></td>
  </tr>
  <tr>
    <td>Losses: </td>
    <td></td>
  </tr>
</table>

<h1>Recent Mazes</h1>