<div class="container" ng-app="app">
  <div ng-controller="game_form_ctrl" ng-init="setup('<%= current_player.screen_name %>')">
    <div class="row" id="top_chatroom_row">
    <div class="col-md-5 col-md-offset-2" id="game_form">
      <div id="current_game_list" ng-if="!creatingGame">
        <ul>
          <li ng-repeat="game in joinableGames track by $index" ng-click="joinGame(game, <%= current_player.id %>)">{{game.playerOne.info.name}}'s Game</li>
        </ul>
        <button ng-click="createGame()">Create Game</button>
      </div>
      <div id="create_game" ng-if="creatingGame">
        <ul>
          <li>{{currentGame.playerOne.info.name}}</li>
          <li ng-if="currentGame.playerTwo">{{currentGame.playerTwo.info.name}}</li>
        </ul>
        <button ng-if="currentGame.playerTwo" ng-click="startGame(currentGame)">Start Game</button>
        <button ng-click="cancelGame()">Cancel</button>
      </div>
    </div>
    <div class="col-md-2 pull-right">
    </div>
    <div class="col-md-3 pull-right" id="users_online">
      <h2>Players logged in: {{playersOnline}} </h2>
      <ul>
        <li ng-repeat="player in players track by $index">{{player.info.name}}</li>
      </ul>
    </div>
    
    
    <div class="col-md-5 col-md-offset-2" id="chat_window" ng-model="chatWidget">
    <ul>
      <li ng-repeat="chat in chats track by $index">{{chat.name}}: {{chat.chat}}</li>
    </ul>
    <input ng-model="newChat"><button ng-click="submitChat(newChat)">Send</button>
    </div>
    </div> <!-- ends the row -->
  </div> <!-- ends the controller -->
</div> <!-- ends the container and app -->