<div class="container" ng-app="app">
  <div class="row">
    <div class="col-md-5 col-md-offset-2" ng-controller="game_form_ctrl" id="game_form">
    <h1>Players</h1>
    <ul>
      <li ng-repeat="player in players">{{player}}</li>
    </ul>
    <button>Create Game</button>
    </div>
  </div>
</div>