<div class="container" ng-app="app">
  <div ng-controller="game_form_ctrl" ng-init="setup('<%= current_player.screen_name %>')">
    <div class="row" id="top_chatroom_row">
    <div class="col-md-5 col-md-offset-2 col-sm-8 col-xs-8" id="game_form">
      <div id="current_game_list" ng-if="!creatingGame">
        <div id="joinable_games">
        <ul>
          <li ng-repeat="game in joinableGames track by $index" ng-click="joinGame(game, <%= current_player.id %>)" class="join-game">Join {{game.playerOne.info.name}}'s Game</li>
        </ul>
        </div>
        <button ng-click="createGame()" id="create" class="myButton2">Create Game</button>
      </div>
      <div id="create_game" ng-if="creatingGame">
        <ul>
          <li>Player 1: {{currentGame.playerOne.info.name}}</li>
          <li ng-if="currentGame.playerTwo">Player 2: {{currentGame.playerTwo.info.name}}</li>
        </ul>
        <button ng-if="currentGame.playerTwo" ng-click="startGame(currentGame)" id="start" class="myButton2">Start Game</button>
        <button ng-click="cancelGame()" id="cancel" class="myButton2">Cancel</button>
      </div>
    </div>
    <div class="col-md-2 pull-right">
    </div>
    <div class="col-md-3 col-sm-4 col-xs-4 pull-right" id="users_online">
      <div id="users_count">
      <h3>Users Online: {{playersOnline}} </h3>
      </div>
      <ul>
        <li ng-repeat="player in players track by $index">{{player.info.name}}</li>
      </ul>
    </div>
    
    
    <div class="col-md-5 col-md-offset-2 col-sm-8 col-xs-8" id="chat_window" ng-model="chatWidget">
    <div id="chatbox">
    <ul>
      <li ng-repeat="chat in chats track by $index"><div id="name">{{chat.name}}:</div> {{chat.chat}}</li>
    </ul>
    </div>
    <input ng-model="newChat"><button ng-click="submitChat(newChat)" class="myButton">Send</button>
    </div>
    </div> <!-- ends the row -->
  </div> <!-- ends the controller -->
</div> <!-- ends the container and app -->