<% content_for :onload do %>
  onload="init();"
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <canvas id="main" width="500" height="500"></canvas>
    </div>
  </div>
</div>
