<% content_for :onload do %>
  onload="init();"
<% end %>
<div ng-app="app">
  <div ng-controller="game-ctrl" id="gamectrl" ng-init="setup(<%= @id %>)">
    <div class="container">
      <div class="row" ng-if="!gamePlayed">
        <div class="col-md-6 col-md-offset-3">
          <canvas id="main" width="500" height="500"></canvas>
        </div>
      </div>
      <div class="row" ng-if="gamePlayed">
        <div class="col-md-6 col-md-offset-3">
          <div id="win_form">
            <h1 id="conclusion_message" class="slider-text">{{message1}}</h1>
            <h1 id="conclusion_message">{{message2}}</h1>
            <button ng-click="saveGame()" class="fade-in myButton2">Return to Lobby</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
