body {
  margin: 0;
  padding: 0;
  background-color: #333333;
};

#game_form {
  background-color:white;
  height:350px;
};

#users_online{
  background-color:blue;
  height:700px;
}

#chat_window{
  background-color:orange;
  height:350px;
}

#main {
  margin: 0;
  width: 500px;
  height: 500px;
  display: block;
}
