body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  font-family:Arial, Helvetica, sans-serif;
};

#navbar_home{
  margin:0px;
}

.notice{
  margin:0px;
  padding:0px;
  border-width:0px;
}

.alert{
  margin:0px;
  padding:0px;
  border-width:0px;
}

#top_chatroom_row{
  margin-top:100px;
}

#game_form {
  background-color:black;
  height:350px;
  border-top:5px solid grey;
  border-left:5px solid grey;
  color:white;
  ul {
    list-style-type:none;
    color:white;
  }
};

#users_online{
  background: -webkit-linear-gradient(white, darkgrey);
  height:700px;
  border-top:5px solid grey;
  border-right:5px solid grey;
  border-bottom:5px solid grey;
  color:black;
  ul {
    list-style-type:none;
    font-size:20px;
    li {
      border-width:2px;
      border-style:solid;
      border-radius:10px;
      border-color:black;
      text-align:center;
    }
  }
  h2{
    font-size:30px;
    text-align: center;
  }
}

#chat_window{
  background-color:black;
  height:350px;
  border-bottom:5px solid grey;
  border-left:5px solid grey;
  color:white;
  ul {
    list-style-type:none;
    color:white;
  }
}

#main {
  margin: 0;
  width: 500px;
  height: 500px;
  display: block;
}

#win_form {
  background-color:white;
  text-align:center;
  width:500px;
  height:500px;
};

#home_page_top {
  width:100%;
  background-size:cover;
}

#carousel-home-page {
  width:100%;
  margin:0px;
  padding:0px;
  border-top:5px solid grey;
  border-bottom:5px solid grey;
  background-size:cover;
}

#home_top{
  width:100%;
  margin:0px;
  padding:0px;
  background-size:cover;
}

#home_container{
  margin:0px;
  width:100%;
}

.play_now{
  float:left;
  height:50px;
  width:100px;
  background-color:#993333;
  border-width: 3px;
  border-style:solid;
  border-color:white;
  color:white;
}

.homepage_section_header{
  font-size: 45px;
  background: -webkit-linear-gradient(left, white, #993333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage_section_graf{
  color: white;
}